#mainScreen
  #gamePanel
    #gjs-loader
      | Loading...
    canvas#gjs-canvas
  #interface
    select#layerSelect
      option(value='0')
        |0
      option(value='1')
        |1
      option(value='2')
        |2
    input#chkShowOnlyLayer(type='checkbox')
#tileSet
